/* i general */

* {box-sizing: border-box;}
a {text-decoration: none;}

/* f general */


.img-pelis-home {
    width: 300px;
    margin: 30px;
}

.display-pelis {
    display: flex;
}

.display-series {
    display: flex;
}

.img-series {
    width: 300px;
    height: 450px;
    margin: 30px;
}




/* i footer */



.nav-footer {
    display: flex;
    list-style: none;
    padding-left: 44%;
    margin-bottom: 50px;
}

.li-footer {
    padding-right: 30px;
    text-decoration: none;
    font-weight: bold;


}

a {
    text-decoration: none;
    color: black;
   
}

footer {
    background-color: cornflowerblue;
    margin-left: 5%;
    margin-right: 5%;
}

.nombre-footer {
    margin-left: 650px;
}

/* f footer */