/*********** i general ***********/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

main ul {
    list-style: none;
}

body {
    background-color: #171718;
    color: whitesmoke;
    font-family: 'Roboto', sans-serif;
}

img {
    max-width: 100%;

}

/***** f general *****/

/* responsive mobile first */

/****header****/
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #2ECC70;
}

.logo {
    width: 90px;
}

.nav-header {
    display: none;
}

.search-box {
    display: none;
}

.buttons-responsive-menu {
    font-size: 25px;
    color: black;
}

.buttons-responsive-search {
    font-size: 25px;
    color: black;
}


/*****footer *****/

.nav-footer {
    display: none;
}

.nombre-footer {
    margin-left: 10%;
    color: grey solid;
    text-align: right;
    font-size: 10px;
    border-top: solid 2px grey;
    margin-top: 10%;
}


/****index main *****/

h1 {
    font-family: 'Bebas Neue', cursive;
    letter-spacing: 15px;
    font-size: 50px;
    text-shadow: 3px 3px 3px #2bb162;
    padding-top: 3%;
    text-align: center;
    color: whitesmoke;
}

.watch-item a {
    color: white;
}

.index-main h2 {
    font-family: 'Bebas Neue', cursive;
    letter-spacing: 5px;
    font-size: 20px;
    color: #2bb162;
    margin: 25px;
    text-align: center;
    border-top: solid 2px whitesmoke;
    border-bottom: solid 2px whitesmoke;
}




.watch-display {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.watch-item {
    display: block;
    background-color: #2bb162;
    padding-top: 7px;
    border-radius: 5px;
    text-align: center;
    margin: 10px;
    width: 40%;
}


.watch-item:hover {
    transform: translateY(-10px);
    transition: all ease 0.6s;
}

.watch-img {
    width: 90%;
    margin: auto;
}

.watch-img img {
    width: 100%;
}

.watch-item h3 {
    text-align: center;
    color: whitesmoke;
    font-size: 10px;
    border-bottom: solid 2px whitesmoke;
    padding-bottom: 2px;
}

.details {
    font-size: 12px;
}

/****** detail-series y pelis ******/
.detail {
    background-color: grey solid;
    display: block;
    margin-bottom: 50px;
    padding: 50px 10px 0px 10px;
    margin-right: 10px;
}

.detail-img {
    width: 50%;
    padding: 5px;
    margin: auto;
}

.detail-img img {
    width: 100%;
}

.detail-text {
    display: block;
    font-size: 10px;
    font-family: 'Roboto', sans-serif;
}

.detail-text a {
    font-size: 10px;
    color: whitesmoke;
    font-family: 'Roboto', sans-serif;
}

.detail-text h2 {
    font-family: 'Bebas Neue', cursive;
    color: #2ECC70;
    letter-spacing: 1.5px;
    font-size: 40px;
    margin-bottom: 1%;
    padding: 0;
    border-top: solid 2px #2ECC70;
    border-bottom: solid 2px #2ECC70;
}


.detail-text span {
    font-family: 'Bebas Neue', cursive;
    font-size: 15px;
    letter-spacing: 1.5px;
}

.favoritos {
    width: 80px;
    height: 20px;
    border: none;
    color: #2bb162;
    background-color: whitesmoke;
    border-radius: 4px;
    margin-top: 3%;
    font-size: 15px;
    font-weight: bold;
    font-family: 'Bebas Neue', cursive;
}

.favoritos:hover {
    transition: ease-out 0.3s;
    background-color: #2ECC70; 
    color: black;
    font-weight: bold;
    font-family: 'Bebas Neue', cursive;
}

/****** favoritos *******/

.titulo-fav {
    font-family: 'Bebas Neue', cursive;
    letter-spacing: 5px;
    font-size: 50px;
    color: #2bb162;
    margin: 10px;
    text-align: start;
    border-bottom: solid 2px whitesmoke;

}

.mis-fav {
    margin-bottom: 200px;
}

.mis-fav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.watch-item-fav {
    display: flex;
    flex-direction: column;
    flex: wrap;
    background-color: whitesmoke;
    width: 40%;
    padding: 10px;
    border-radius: 5px;
    justify-content: space-between;
    margin: 10px;
    text-align: center;
}


.watch-item-fav h3 a {
    color: black;
    font-size: 15px;
    text-align: center;
    font-weight: bolder;
}


/**** Pag.Generos ****/

.generos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.genres {
    background-color: #2bb162;
    margin: 15px;
    padding: 10px 60px 10px 60px;
    font-size: larger;
    border-radius: 10px;
}

.genres:hover {
    transform: translateY(-10px);
    transition: all ease 0.6s;
}

.genres-s {
    background-color: #2bb162;
    margin: 15px 15px 100px 15px;
    font-size: larger;
    padding: 10px 60px 10px 60px;
    border-radius: 10px;
}

.genres-s:hover {
    transform: translateY(-10px);
    transition: all ease 0.6s;
}

/****  generos ****/

.hache2-genres {

    font-family: 'Bebas Neue', cursive;
    letter-spacing: 5px;
    font-size: 30px;
    color: #2bb162;
    margin: 5%;
    text-align: start;
    border-bottom: solid 2px whitesmoke;
}

.titulo-g {
    display: flex;
    justify-content: center;
}

.titulo-g a {
    color: white;
    border-radius: 10px;
    background-color: #2bb162;
    padding: 5px 15px;

}

.d-generos p {
    font-size: 12.5px;
    margin: 15px 10px;
}

.peliculas-dispo {
    font-size: 12px;
    color: rgb(231, 231, 104);
}


/**** detalles de generos ***/

.nav-detail-genres {
    display: flex;
    margin-left: 130px;
    margin-bottom: 130px;
}

/*****search-results *****/

/*en caso de si encpntrar la bsuqueda */
.found-search-results .watch-display .watch-item {
    background-color: #33c770;
    width: 200px;
    height: 330px;
}

/* en caso de no encontrar la busqueda */
.error-search-results {
    display: none;
}

.error-notfound {
    margin: 50px;
    text-align: center;
    font-size: 12px;
    color: rgb(153, 150, 150);
}

.error-notfound p span {
    font-weight: bold;
    font-size: 20px;
    color: rgb(189, 186, 186);
}

.recomendaciones h2 {
    font-size: 30px;
    font-family: 'Bebas Neue', cursive;
    letter-spacing: 3px;
}

/****************resonsive *********/

/* desde la tablets */
@media(min-width: 768px) {

    /**** detail movie y series ****/
    .detail {
        background-color: grey solid;
        display: flex;
        justify-content: space-around;
        font-size: 15px;
        font-family: 'Roboto', sans-serif;
    }

    .detail-img {
        width: 30%;
        padding: 5px;
        margin: auto;
    }

    .detail-text {
        display: block;
        width: 60%;
        font-size: 15px;
    }

    .detail-text a {
        font-size: 15px;
    }

    .detail-text h2 {
        font-size: 60px;
    }

    .detail-text span {
        font-size: 20px;
    }

    .favoritos {
        width: 100px;
        height: 25px;
        font-size: 20px;
    }

    /**** generos ******/
    .titulo-g a {
        color: white;

    }

    .d-generos p {

        font-size: 13.5px;
    }

    .hache2-genres {

        font-family: 'Bebas Neue', cursive;
        letter-spacing: 5px;
        font-size: 70px;
        color: #2bb162;
        margin: 5%;
        text-align: start;
        border-bottom: solid 2px whitesmoke;
    }
}

/* desktops */

@media(min-width:1024px) {

    /***** header *******/
    .buttons-responsive-menu {
        display: none;
    }

    .buttons-responsive {
        color: white;
    }

    .header li,
    a {
        font-size: 15px;
        color: whitesmoke;
        font-family: 'Bebas Neue', cursive;
        letter-spacing: 3px;
    }

    .nav-header {
        list-style: none;
        display: flex;
    }

    .nav-header li {
        display: inline-block;
        padding: 0px 20px;
    }

    .nav-header li a {
        color: whitesmoke;
        font-weight: bold;
        background-color: #171718;
        padding: 13px;
        border-radius: 10px;
        border: 5px;
        box-shadow: inset 0 0 0 0 whitesmoke;
    }

    .nav-header li a:hover {
        box-shadow: inset 150px 0 0 0 whitesmoke;
        color: black;
    }

    /**** footer *******/
    .nav-footer {
        display: flex;
        list-style: none;
        justify-content: center;
        margin-bottom: 50px;
    }

    .li-footer {
        text-decoration: none;
        border-right: grey solid;
        padding: 0 70px;

    }

    .nav-footer a {
        text-decoration: none;
        color: whitesmoke;
        padding: 20px;
        font-weight: bold;
    }

    footer {
        margin-left: 5%;
        margin-right: 5%;
        border-right: none;
        border-bottom: none;
        border-left: none;
        border-top: grey solid;
    }

    .nombre-footer {
        margin-left: 650px;
        font-size: 15px;
        border-top: none;
    }

    /***** index *****/
    h1 {
        font-size: 100px;
    }

    .index-main h2 {
        letter-spacing: 10px;
        font-size: 40px;
    }

    .watch-item {
        width: 200px;
        height: 340px;
        padding: 10px;
    }

    .watch-img {
        width: 100%;
    }

    .watch-item h3 {
        font-size: 15px;
        border-bottom: solid 2px whitesmoke;
    }

    .details {
        font-size: 15px;
    }

    /****** favoritos ****/

    .titulo-fav {
        font-size: 70px;
    }

    .watch-item-fav {
        width: 200px;
        height: 320px;
    }


    .watch-item-fav h3 a {
        color: black;
        font-size: 15px;
        font-family: 'Roboto', sans-serif;
    }

    /****** generos ******/

    .detalles-g {
        display: flex;
        flex-wrap: wrap;
    }

    .d-generos {
        margin-left: 4%;
        margin-bottom: 5%;
        max-width: 15%;
        border: 5px;
    }

    .titulo-g {
        background-color: #2bb162;
        text-align: center;
        border-radius: 10px;
    }

    .peliculas-dispo {
        color: yellow;
    }

    /**** search resualts ****/
    .error-notfound {
        font-size: 20px;
    }

    .error-notfound p span {
        font-size: 30px;
    }

    .recomendaciones h2 {
        font-size: 35px;
        letter-spacing: 5px;
    }


    .error-search-results .recomendaciones .watch-display .watch-item {
        background-color: #2bb162;
        width: 200px;
        height: 330px;
    }
}


/* especial- el searchbox del header */
@media(min-width:1175px) {
    .buttons-responsive-search {
        display: none;
    }

    .search-box {
        display: flex;
        transform: translate(-50%, -50%);
        background: #171718;
        height: 50px;
        border-radius: 40px;
        padding: 10px;
        margin-top: 45px;
    }

    .search-box:hover>.search-txt {
        width: 200px;
        padding: 0 6px;
    }

    .search-btn {
        width: 20px;
        height: 20px;
        border-radius: 50%;
        background: #171718;
        display: block;
        margin: auto;
    }

    .search-txt {
        border: none;
        background: none;
        outline: none;
        padding: 0;
        color: white;
        font-size: 16px;
        transition: 0.4s;
        line-height: 30px;
        width: 200px;
    }
}