/* i general */

* {box-sizing: border-box;}
a {text-decoration: none;}
main ul  {list-style: none;}
body {
    background-color:#171718;
    color: whitesmoke;
    font-family: 'Roboto', sans-serif;
}

/* f general */

/* i header */


.header h1 {
    font-family: 'Bebas Neue', cursive;
    color: #2ECC71;
    letter-spacing: 15px;
    text-align: center;
    font-size: 100px;
    align-self: center;
    vertical-align: text-top;
}

#logo {
    border-radius: 160px;
    display: block;
    max-width: 100%;
    width: 140px;
}


/* f header */

main h2 {
    font-family: 'Bebas Neue', cursive;
    letter-spacing: 1.5px;
    font-size: 60px;
}
.pelis-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.display-pelis {
    display: flex;
   flex-wrap: wrap;
   justify-content: space-around;

}

.item-pelis {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    background-color: #2ecc70cc;;
    border-radius: 3%;
    margin: 1%;
}

.item-pelis:hover {
    transform: translateY(-10px);
    transition: all ease 0.6s;
}

.item-pelis h3 {
    text-align: center;
}

.img-pelis-home {
   width: 300px;
   height: 450px;
   margin: 10px;
}

.details {
    width: 40 px;
    height: 20px;
    background-color: whitesmoke;
    color:#2ecc70cc;
    text-align: center;
    font-weight: bold;
    margin: 3%;
    border-radius: 3%;
    align-items: center;
}

.series-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.display-series {
    display: flex;
    flex-wrap: wrap;
   justify-content: space-around;
}

.item-series {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    background-color: #2ecc70cc;
    border-radius: 3%;
    margin: 1%;
}

.item-series:hover {
    transform: translateY(-10px);
    transition: all ease 0.6s;
}
.img-series {
    width: 300px;
    height: 450px;
    margin: 10px;
}

.item-series h3 {
    text-align: center;
}

/* i footer */



.nav-footer {
    display: flex;
    list-style: none;
    padding-left: 44%;
    margin-bottom: 50px;
}

.li-footer {
    padding-right: 30px;
    text-decoration: none;
    font-weight: bold;


}

a {
    text-decoration: none;
    color: black;
   
}

footer {
    background-color: cornflowerblue;
    margin-left: 5%;
    margin-right: 5%;
}

.nombre-footer {
    margin-left: 650px;
}

/* f footer */

/* detail section*/
